<Div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            
            <h3 class="text-center">Data Comming From an API</h3>
            <table class="table table-dark table-hover table-bordered">
                <tr>
                    <th>S.No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Avatar</th>
                </tr>
                <tr *ngFor="let x of allData; let n = index">
                    <td>{{ n+1 }}</td>
                    <td>{{ x.first_name | uppercase }}</td>
                    <td>{{ x.last_name }}</td>
                    <td>{{ x.email }}</td>
                    <td><img src="{{ x.avatar }}" height="80" /></td>
                </tr>
    
            </table>
        </div>
    </div>
</Div>
