<%- include('header') %>
    <main>
        <!-- Hero Area Start-->
        
        <!-- Hero Area End-->
        <!-- About Details Start -->
        <div class="about-details section-padding30">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-lg-8 offset-lg-2 col-md-8 offset-md-2">
                        <div class="about-details-cap mb-50">
                            <h4>Update Your Password</h4>
                            <form action="/profile/update_password" method="post">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Update User Profile Password</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Current Password</label>
                                        <input type="password" name="current_pass" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" name="new_pass" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm New Password</label>
                                        <input type="password" name="confirm_new_pass" class="form-control" />
                                    </div>
                                    
                                    
                                    
                                </div>
                                <div class="card-footer">
                                    <input type="submit" value="Update Password" class="btn btn-primary" />
                                    <Br />
                                    <small class="text-danger text-center"><%= msg %></small>
                                </div>
                            </div>
                            </form>
                            
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Shop Method End-->
    </main>
<%- include('footer') %>

<!-- 

    jamesjoel@gmail.com




 -->