<%- include('header') %>
    <main>
        <!-- Hero Area Start-->
        
        <!-- Hero Area End-->
        <!-- About Details Start -->
        <div class="about-details section-padding30">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-lg-8">
                        <div class="about-details-cap mb-50">
                            <h4>User Profile</h4>
                            
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Shop Method End-->
    </main>
<%- include('footer') %>