<div>
    <h1>About Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem laboriosam fuga adipisci distinctio. Optio accusantium culpa voluptates. Aliquid debitis incidunt, nulla illo laboriosam explicabo temporibus. Magni illum optio repudiandae soluta. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium rem id, nihil ipsam inventore quae assumenda eaque ducimus amet. Mollitia voluptatibus qui enim non cupiditate maxime accusamus expedita ea accusantium? Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium deserunt provident numquam quidem iure placeat repellat itaque possimus. In minus dicta obcaecati earum nam voluptates cumque temporibus qui eligendi mollitia.</p>

</div>