<html>
    <head>

    </head>
    <body>
        <form action="/add" method="post">
            Full Name : <input type="text" name="name" />
            <br />
            <br />
            <br />
            Age : <input type="text" name="age" />
            <br />
            <br />
            <br />
            City : <select name="city">
                <option>Select</option>
                <option>indore</option>
                <option>mumbai</option>
                <option>pune</option>
            </select>
            <br />
            <br />
            <br />
            <input type="submit" />
        </form>
    </body>
</html>