<style>
.dropdown:hover>.dropdown-menu {
  display: block !important;
}
</style>

<header>
    <!-- header inner -->
    <div class="header">
       <div class="container-fluid">
          <div class="row">
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                <div class="full">
                   <div class="center-desk">
                      <div class="logo">
                         <a href="index.html"><img src="./assets/images/logo.png" alt="#" /></a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                <nav class="navigation navbar navbar-expand-md navbar-dark ">
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarsExample04">
                      <ul class="navbar-nav mr-auto">
                         <li class="nav-item active">
                            <a class="nav-link" routerLink="/">Home</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                         </li>
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Category</a>
                            <div class="dropdown-menu">
                               <a *ngFor="let x of allCategory" class="dropdown-item" href="#">{{ x.title }}</a>
                               
                            </div>
                         </li>
                         
                         <li class="nav-item d_none">
                            <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                         </li>

                         <ng-template [ngIf]="_loginAuth.isLoggedIn()" [ngIfElse]="block">
                           <li class="nav-item d_none">
                              <a class="nav-link" routerLink="/profile">Profile</a>
                           </li>
                           <li class="nav-item d_none">
                              <a class="nav-link" (click)="_loginAuth.logout()">Logout</a>
                           </li>
                         </ng-template>

                         <ng-template #block>
                           <li class="nav-item d_none">
                              <a class="nav-link" routerLink="/login">Login</a>
                           </li>
                           <li class="nav-item d_none">
                              <a class="nav-link" routerLink="/signup">Signup</a>
                           </li>
                         </ng-template>




                         
                      </ul>
                   </div>
                </nav>
             </div>
          </div>
       </div>
    </div>
 </header>
