<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mt-5">User Profile</h2>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <table class="table table-light table-bordered table-hover">
                        <tr>
                            <td>Full Name</td>
                            <td>{{ user.full_name }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>{{ user.contact }}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{ user.city }}</td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
