<html>
    <head>
        <title>Layout 3</title>
        <link type="text/css" rel="stylesheet" href="layout3.css" >
    </head>
    <body>
        <div class="header">
            <div class="wrapper">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas rerum modi eos deleniti dolores deserunt voluptates hic et autem, cum accusantium veniam aliquam ullam sit numquam reiciendis dignissimos, maiores eaque?
            </div>
        </div>
        <div class="content">
            <div class="wrapper">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus delectus maxime ducimus accusantium, iusto at. Ab, quod esse, sed accusantium aliquid quas necessitatibus eveniet velit consectetur itaque ducimus aut reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eos debitis odit corporis commodi iure ducimus ullam dignissimos ipsum? Quam fugiat fuga voluptas delectus. Perferendis, fugiat! Velit quae dicta aperiam?</div>
        </div>
        <div class="footer">
            <div class="wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem provident quasi nam minima quia voluptate dignissimos qui, a eaque earum, magnam harum sit laudantium aliquid hic perferendis, incidunt quis facilis.</div>
        </div>
    </body>
</html>