<html>
    <head>

    </head>
    <body>
        <form action="/" method="post" enctype="multipart/form-data">
            Full Name <input type="text" name="name" />
            <Br />
            <Br />
            Age <input type="text" name="age" />
            <br />
            <Br />
            Image : <input type="file" name="photo"/>
            <Br />
            <Br />

            <input type="submit" />
        </form>
    </body>
</html>