<div class="container my-5" >
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="myForm">
                
            <h2 class="text-center">Registration</h2>
            <div class="form-group">
                <label>Full Name</label>
                <input [ngClass]="{'is-invalid' : a && myForm.controls.full_name.errors}" formControlName="full_name" type="text" placeholder="Full Name" class="form-control" />
                <div class="text-danger" *ngIf="a && myForm.controls.full_name.errors">Insert Your Full Name</div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input [ngClass]="{'is-invalid' : a && myForm.controls.email.errors}" formControlName="email" type="text" placeholder="Email" class="form-control" />
                <div class="text-danger" *ngIf="a && myForm.controls.email.errors">
                    <div *ngIf="myForm.controls.email.errors.required">Insert Your Email</div>
                    <div *ngIf="myForm.controls.email.errors.email">Incorrect Email Id</div>
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input [ngClass]="{'is-invalid' : a && myForm.controls.pass.errors}" formControlName="pass" type="password" placeholder="Password" class="form-control" />
                <div class="text-danger" *ngIf="a && myForm.controls.pass.errors">Insert Your Password</div>
            </div>
            <div class="form-group">
                <input type="submit" (click)="save()" value="Singup" class="btn btn-primary" />
            </div>
            </form>
        </div>
    </div>
</div>
