<div class="container mt-4">
    <div class="row">
        <Div class="col-md-6 offset-md-3">
            <form [formGroup]="userFrm">
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" [ngClass]="{'is-invalid': check && userFrm.controls.full_name.errors}" class="form-control" formControlName="full_name"/>
                <div class="text-danger" *ngIf="check && userFrm.controls.full_name.errors">
                    Insert Your Full Name
                </div>

                <br />

                <select class="form-control">
                    <option value="">Select</option>
                    <option *ngFor="let c of city" value="{{ c.id }}">{{ c.name }}</option>
                </select>

                <Br />
                <input type="submit" value="Signup" (click)="signup()" class="btn btn-primary" />
            </div>
            </form>
        </Div>
    </div>
</div>
