<html>
    <head></head>
    <body>
        <h1>Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere repellat dolores, quos animi ratione ducimus reiciendis debitis dolorem soluta rem aperiam consequuntur iusto, laborum neque, commodi ea architecto sit rerum.</p>
        <% data.forEach(function(x){ %>
            <h2><%= x.name %>--<%= x.age %></h2>
            
        <% }) %>
    </body>
</html>
<!-- 
1. data passing from .js to ejs(*)
2. mongodb connection
3. form submition(*)
4. data inserting to mongo(*)


5. routing compelete(****)
6. getting data from mongo and show it into view(***)
7. login authentication complete(*****)
8. user profile/data update(*)
9. all data view and delete it by url params(**)

 -->