<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" >
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>About Page</h2>
            <h3><%= name %></h3>
            <h3><%= age %></h3>
            <h3><%= gender %></h3>
        </div>
    </body>
</html>