<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" >
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <h1>Home Page</h1>
        <h1><%= x  %></h1>
        <h2><%= y %></h2>

    </body>
</html>